server:
  ha:
    enabled: true
    replicas: 3
    #api_addr : null
    #cluster_addr : null

    raft:
      enabled: true

      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_addr = "[::]:8201"
          #enable unauthenticated metrics access (neccessary for Prometheus Operator)
          #telemetry{
          #  unauthenticated_me trics_access = "true"
          #}        
        }

        storage {
          path = "/openbao/data"

        } 

        service_registration "kubernetes" {}
  dataStorage:
    enabled: true
    size: 10Gi
    storageClass: "lonnghorn"

ui:
  enabled: true
  serviceType: NodePort
  nodePort: 40000